@charset "UTF-8";
/* !========= INFORMATION ============================
- document: Calculator Builder | CalcHub - Easily create Online calculators.
- url:      https://calchub.xyz
- author:   CalcHub
- plugin:   https://wordpress.org/plugins/calculator-builder/
==================================================== */
.formbox {
  --formbox-font-size: 16px;
  --formbox-radius: 0.25em;
  --formbox-shadow: none;
  --formbox-hr-color: #f5f5f5;
  --formbox-title-weight: 600;
  --formbox-title-size: 1.125em;
  --formbox-title-color: inherit;
  --formbox-title-font: inherit;
  --formbox-field-border-color: #dbdbdb;
  --formbox-field-border-width: 1px;
  --formbox-field-background: transparent;
  --formbox-field-color: inherit;
  --formbox-field-border-hcolor: #dbdbdb;
  --form-field-height: 2.75em;
  --formbox-field-readonly-background: transparent;
  --formbox-field-readonly-color: inherit;
  --formbox-addon-color: inherit;
  --formbox-addon-background: #f5f5f5;
  --formbox-addon-weight: 400;
  --formbox-btn-calc-weight: 500;
  --formbox-btn-calc-color: #ffffff;
  --formbox-btn-calc-bg: #006400;
  --formbox-btn-calc-hcolor: #ffffff;
  --formbox-btn-calc-hbg: #006400;
  --formbox-btn-reset-color: #ffffff;
  --formbox-btn-reset-bg: #383838;
  --formbox-btn-reset-hcolor: #ffffff;
  --formbox-btn-reset-hbg: #383838;
  --formbox-title-result-color: inherit;
  --formbox-title-result-weight: 600;
  --formbox-field-border-result-color: #dbdbdb;
  --formbox-field-result-background: transparent;
  --formbox-result-addon-color: inherit;
  --formbox-result-addon-background: #f5f5f5;
}

.formbox-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: var(--formbox-font-size);
  margin-block-end: 1.125em;
}

.formbox,
.formbox * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-size: var(--formbox-font-size);
}

.formbox {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 1em;
  margin: 1em 0;
  box-shadow: var(--formbox-shadow);
  border: none;
  border-radius: var(--formbox-radius);
  gap: 1em;
}
.formbox hr {
  grid-column: 1/3;
  width: 100%;
  height: 0.125em;
  margin: 0.5em 0;
  background-color: var(--formbox-hr-color);
}
.formbox .is-hidden {
  display: none;
}
.formbox .has-result .formbox-title {
  padding: 0;
}
.formbox textarea[hidden] {
  display: none;
}
.formbox table {
  width: 100%;
}

.formbox__container {
  display: grid;
  align-items: flex-start;
  grid-gap: 0.75em;
}
@media screen and (min-width: 776px) {
  .formbox__container {
    grid-template-columns: 2fr 3fr;
  }
  .formbox__container.is-vertical {
    grid-template-columns: 1fr;
  }
  .formbox__container.is-vertical .formbox__title {
    padding-top: 0;
  }
}
.formbox__container .is-title-only {
  grid-column: 1/3;
}

.formbox__title {
  padding-top: calc(var(--form-field-height)/2 - var(--formbox-title-size));
  color: var(--formbox-title-color);
  font-family: var(--formbox-title-font);
  font-size: var(--formbox-title-size);
  font-weight: var(--formbox-title-weight);
}
.formbox__title.is-spa—Åe {
  grid-column: 1/3;
}

.formbox__container:has(textarea) .formbox__title {
  padding-top: 0.375em;
}

.formbox__body:not(.has-group) .formbox__field + .formbox__field {
  margin-block-start: 8px;
}
.formbox__body.has-group {
  display: grid;
  grid-gap: 0.5em;
}
@media screen and (min-width: 776px) {
  .formbox__body.has-group {
    grid-template-columns: 1fr 1fr;
  }
}

.formbox__field-lable {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  word-wrap: normal;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
.formbox__field-lable:focus {
  top: 5px;
  left: 5px;
  display: block;
  z-index: 100000;
  width: auto;
  height: auto;
  padding: 15px 23px 14px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  background-color: #f1f1f1;
  border-radius: 3px;
  color: #21759b;
  text-decoration: none;
  font-size: 0.875em;
  font-weight: 700;
  line-height: normal;
  clip: auto !important;
  clip-path: none;
}
.formbox__field label {
  cursor: pointer;
}
.formbox__field-addon {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: var(--form-field-height);
  padding: 0.75em 1em;
  background-color: var(--formbox-addon-background);
  border: var(--formbox-field-border-width) solid var(--formbox-field-border-color);
  color: var(--formbox-addon-color);
  font-size: 1em;
  font-weight: var(--formbox-addon-weight);
  line-height: 1;
  white-space: nowrap;
}
.formbox__field.has-addon {
  display: flex;
}
.formbox__field.has-addon.is-left .formbox__field-result,
.formbox__field.has-addon.is-left .formbox__field-input {
  border-radius: 0 var(--formbox-radius) var(--formbox-radius) 0;
}
.formbox__field.has-addon.is-left .formbox__field-addon {
  border-right: none;
  border-radius: var(--formbox-radius) 0 0 var(--formbox-radius);
}
.formbox__field.has-addon.is-right {
  flex-direction: row-reverse;
}
.formbox__field.has-addon.is-right .formbox__field-result,
.formbox__field.has-addon.is-right .formbox__field-input {
  border-radius: var(--formbox-radius) 0 0 var(--formbox-radius);
}
.formbox__field.has-addon.is-right .formbox__field-addon {
  border-left: none;
  border-radius: 0 var(--formbox-radius) var(--formbox-radius) 0;
}

.formbox__container .formbox__field-radio,
.formbox__container .formbox__field-checkbox {
  display: flex;
  align-items: flex-start;
  line-height: 1;
  gap: 0.5em;
}
.formbox__container .formbox__field-radio label,
.formbox__container .formbox__field-checkbox label {
  flex: 1;
}
.formbox__container .formbox__field-radio + .formbox__field-radio {
  margin-block-start: 8px;
}
.formbox__container input[type=checkbox],
.formbox__container input[type=radio] {
  box-shadow: none;
  border: var(--formbox-field-border-width) solid var(--formbox-field-border-color);
  border-radius: var(--formbox-radius);
  outline: none;
}
.formbox__container input[type=checkbox]:focus,
.formbox__container input[type=radio]:focus {
  box-shadow: none;
  border-color: var(--formbox-field-border-hcolor);
}
.formbox__container input.formbox__field-text,
.formbox__container textarea.formbox__field-textarea,
.formbox__container input.formbox__field-input,
.formbox__container select.formbox__field-select,
.formbox__container input.formbox__field-result,
.formbox__container textarea.formbox__field-result,
.formbox__container select,
.formbox__container textarea {
  vertical-align: middle;
  width: 100%;
  height: var(--form-field-height);
  max-width: 100%;
  padding: 0.75em 1em;
  margin: 0;
  box-shadow: none;
  background-color: var(--formbox-field-background);
  border: var(--formbox-field-border-width) solid var(--formbox-field-border-color);
  border-radius: var(--formbox-radius);
  outline: none;
  color: var(--formbox-field-color);
  font-size: 1em;
  line-height: 1;
}
.formbox__container input.formbox__field-text:focus,
.formbox__container textarea.formbox__field-textarea:focus,
.formbox__container input.formbox__field-input:focus,
.formbox__container select.formbox__field-select:focus,
.formbox__container input.formbox__field-result:focus,
.formbox__container textarea.formbox__field-result:focus,
.formbox__container select:focus,
.formbox__container textarea:focus {
  box-shadow: none;
  border-color: var(--formbox-field-border-hcolor);
  outline: none;
}
.formbox__container input.formbox__field-text[readonly], .formbox__container input.formbox__field-text[disabled],
.formbox__container textarea.formbox__field-textarea[readonly],
.formbox__container textarea.formbox__field-textarea[disabled],
.formbox__container input.formbox__field-input[readonly],
.formbox__container input.formbox__field-input[disabled],
.formbox__container select.formbox__field-select[readonly],
.formbox__container select.formbox__field-select[disabled],
.formbox__container input.formbox__field-result[readonly],
.formbox__container input.formbox__field-result[disabled],
.formbox__container textarea.formbox__field-result[readonly],
.formbox__container textarea.formbox__field-result[disabled],
.formbox__container select[readonly],
.formbox__container select[disabled],
.formbox__container textarea[readonly],
.formbox__container textarea[disabled] {
  background-color: --formbox-field-readonly-background;
  outline: none;
  color: var(--formbox-field-readonly-color);
}
.formbox__container select.formbox__field-select,
.formbox__container select {
  padding: 0.75em 1.5em 0.75em 1em;
  background: var(--formbox-field-background) url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E") no-repeat right 5px top 55%;
  background-size: 1em 1em;
  cursor: pointer;
  font-size: 1em;
  -webkit-appearance: none;
}
.formbox__container textarea.formbox__field-textarea,
.formbox__container textarea.formbox__field-result {
  height: 10em;
  resize: vertical;
}

.formbox__btn {
  display: flex;
  grid-gap: 0.5em;
}
@media screen and (max-width: 776px) {
  .formbox__btn {
    text-align: center;
  }
}
.formbox__btn input[type=submit],
.formbox__btn input[type=reset],
.formbox__btn button {
  justify-content: center;
  height: var(--form-field-height);
  padding: 0.75em 1em;
  border: var(--formbox-field-border-width) solid transparent;
  border-radius: var(--formbox-radius);
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-weight: var(--formbox-btn-calc-weight);
  white-space: nowrap;
}
.formbox__btn button:not(:hover):not(:active).formbox__btn-calc {
  background-color: var(--formbox-btn-calc-bg);
  color: var(--formbox-btn-calc-color);
}
.formbox__btn button.formbox__btn-calc:hover {
  background-color: var(--formbox-btn-calc-hbg);
  color: var(--formbox-btn-calc-hcolor);
}
.formbox__btn button:not(:hover):not(:active).formbox__btn-reset {
  background-color: var(--formbox-btn-reset-bg);
  color: var(--formbox-btn-reset-color);
}
.formbox__btn button.formbox__btn-reset:hover {
  background-color: var(--formbox-btn-reset-hbg);
  color: var(--formbox-btn-reset-hcolor);
}

.formbox__container.has-result .formbox__title {
  color: var(--formbox-title-result-color);
  font-weight: var(--formbox-title-result-weight);
}
.formbox__container.has-result input.formbox__field-result {
  background-color: var(--formbox-field-result-background);
  border-color: var(--formbox-field-border-result-color);
}
.formbox__container.has-result .formbox__field-addon {
  background-color: var(--formbox-result-addon-background);
  border-color: var(--formbox-field-border-result-color);
  color: var(--formbox-result-addon-color);
}

@font-face {
  font-family: "cb-icons";
  src: url("../font/cb-icons.eot?53198465");
  src: url("../font/cb-icons.eot?53198465#iefix") format("embedded-opentype"), url("../font/cb-icons.woff2?53198465") format("woff2"), url("../font/cb-icons.woff?53198465") format("woff"), url("../font/cb-icons.ttf?53198465") format("truetype"), url("../font/cb-icons.svg?53198465#cb-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=cb-icon-]:before, [class*=" cb-icon-"]:before {
  font-family: "cb-icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-inline: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cb-icon-calculator:before { content: '\e80a'; }
.cb-icon-envelope:before { content: '\e80b'; }
.cb-icon-link:before { content: '\e80c'; }
.cb-icon-print:before { content: '\e80d'; }
.cb-icon-like:before { content: '\e80e'; }

.formbox__action-btn,
.formbox__counter-btn {
  color: currentColor;
}
